<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{ if .Title }}{{ .Title }} | {{ end }}{{ site.Title }}</title>
<link rel="icon" type="image/png" href="/images/posts/pic3.png">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Teko:wght@700&display=swap" rel="stylesheet">

{{ $css := resources.Get "css/main.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}">

{{ $js := resources.Get "js/theme.js" | minify | fingerprint }}
<script defer src="{{ $js.RelPermalink }}"></script>
